html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #1e1e1e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#editor-root {
  height: 100%;
  width: 100%;
}
